{% extends 'oragePage.html.twig' %}

{% block title %}Admin Panel{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/admin.css') }}">
    <script defer src={{ asset('JS/admin.js') }}></script>
{% endblock %}
{% block navbody %}
{% block services %}
{% include "component/admin/sidebar.html.twig" %}
<div class="main-content">
    {% block admincontent %}
    <h1 class ="headtitle category">Panel d'administration</h1>
    {% endblock %}
</div>
{% endblock %}
{% endblock %}
