.orage-body {
    background-color: var(--orage_background);
    height: 100%;
    scrollbar-gutter: stable;
}
.orage-background{
    background-color: var(--orage-navbar-color);
}
h2{
    font-weight: 500;
}
.reset-a{
    text-decoration: none;
    color: black;
}
.headbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.back-link{
    color: white;
    font-weight: 600;
    text-decoration: none;
    padding: 1rem;
    font-size: 1rem;
    background-color: var(--orage-navbar-color);
    border-radius: 10px;
    margin: 1rem;
    margin-bottom: 0;
}
.headtitle{
    font-size: clamp(1.2rem, 3vw, 1.6rem);
    font-weight: 600;
    color: black;
    text-align: center;
    margin-bottom: 1em;
}
.orage-btn{
    display: inline-block;
    padding: 1em;
    font-size: 1em;
    color: white;
    background-color: var(--orage_dark_blue);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.orage-btn:hover, .orage-btn-warning:hover{
    filter: brightness(1.2);
}
.orage-btn-warning{
    display: inline-block;
    padding: 1em;
    font-size: 1em;
    color: white;
    background-color: var(--orage_red);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.orage-sm{
    font-size: 0.8em;
    font-weight: 600;
}
.orage-md{
    font-size: 1.2em;
    font-weight: 600;
}
.orage-section-margin{
    margin: 3rem;
    margin-top: 0;
}
.orage-lg{
    font-size: 1.5em;
    font-weight: 600;
}
.flash-error {
    color: red;
    font-weight: 600;
    text-align: center;
}
.flash-success-container {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    list-style-type: none;
}
.flash-success {
    color: green;
    font-weight: 600;
    text-align: center;
}
.flash-error-container{
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    list-style-type: none;
}
.flash-container{
    width: clamp(300px, 50vw, 600px);
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
}
.flash-container:not(:has(*:not(:empty))){
    display: none;
}
.container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 1.5rem;
}

/* Hero section */
.hero {
    text-align: center;
    padding: 4rem 2rem;

    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: var(--card-shadow);
}

.hero .container {
    background-color: rgba(0, 0, 0, 0.7); /* Amélioration du contraste */
    border-radius: 10px;
    padding: 2rem;
    backdrop-filter: blur(5px);
}
.normalized-button{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}
.hero h1 {
    font-family: 'LEMON MILK', sans-serif;
    font-size: clamp(1.3rem, 5vw, 3.75rem);
    margin-bottom: 1.5rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Amélioration de la lisibilité */
}

.hero p {
    font-size: clamp(1rem, 3vw, 1.5rem);
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Amélioration de la lisibilité */
}
.category{
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}
.category::after{
    content: '';
    display: block;
    position: relative;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background: var(--orage_dark_blue);
    opacity: 0.95;
    pointer-events: none;

}
.profile-dropdown ul li{
    list-style: none;
    margin: 0;
}
.profile-dropdown ul{
    margin: 0;
    padding: 0;
}
.body-wrapper{
    min-height: calc(100vh - var(--navbar-height) - var(--footer-height));
}
@media(max-width: 850px){

    .body-wrapper{
        min-height: calc(100vh - var(--footer-height));

    }

}

.etiquette {
    width: max(200px, 15vw);
    max-width: 300px;
    min-width: 200px;
    aspect-ratio: 1/1;
    height: auto;
    margin: 10px;
    padding: auto;
    text-align: center;
    background-color: #fff;
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: visible;
    box-sizing: border-box;
    font-size: calc(0.9*clamp(0.9rem, 2vw, 1.2rem));
    line-height: 1.2;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
}
.etiquette-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
    flex-wrap: wrap;
}
.news-link::after{
    content: ' →';
}

.flash-info-container{
    background-color: darkgray;
    color: #155724;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    list-style-type: none;
}
.flash-info{
    color: black;
    font-weight: 600;
    text-align: center;
}
