:root{
    --navbar-height: 10vh;
}
.navbar{
    display: flex;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    flex-direction: row;
    background-color: #212529;
    height: var(--navbar-height);
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 12px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
}
.navbody{
    margin-top: var(--navbar-height);
}
.navbar-item-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.navbar-item{
    padding: 5px 20px 5px 20px;
    margin: 0;
    border-radius: 10px;
    color: #f3f0ff;
}
.active{
    background-color: var(--orage_dark_blue);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}
.navbar-item a{
    font-style: normal;
    text-decoration: none;
    color: inherit;
}
.logo{
    margin-top: 10px;
    height: 50px;
}
.navbarlogo p {
    margin: 0;
    margin-bottom: 5px;
    font-size: larger;
    text-align: center;
    color: white;
}