.usercontainer {
    width: auto;
    height: auto;
    margin: 10px;
    padding: auto;
    text-align: center;
    background-color: #fff;
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: visible;
    box-sizing: border-box;
    font-size: calc(0.9*clamp(0.9rem, 2vw, 1.2rem));
    line-height: 1.2;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    padding: 20px;
}

.button-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}