{% extends "pageWnavbar.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href={{ asset("styles/contact.css") }}>
{% endblock %}
{% block title "Contact Mail"%}
{% block navbody %}
<div class="headbody">
<h1>Contactez-nous par mail</h1>
</div>
{% endblock %}