
<section class="hero" style="background-image:url('{{asset("images/library.webp")}}')" role="banner" aria-label="Image de la bibliothèque universitaire représentant notre lieu d'activité">
    <div class="container">
        <h1> {{ banner_title|raw }}</h1>
        {{ banner_description|raw }}
    </div>
</section>
